/* .product-details {
    margin-top: 100px !important;
}

.product-details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-details-info h6 {
    margin-bottom: 20px !important;
}

.similar-products .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
}

.similar-products .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.similar-products .card-price {
    color: green;
    font-weight: bold;
}

.similar-products button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.similar-products .card-text {
    color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
    transform: scale(0.9);
}

.similar-products .card-img-top {
    height: 300px !important;
} */

/* PDP */

.product-details {
    margin-top: 60px;
}

.product-details .product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container .product-image {
    width: 750px;
}

.product-details-wrapper {
    width: 35%;
    padding: 70px;
    margin-right: 30px;
    background-color: blanchedalmond;
}

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 16px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-price .price {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
}

.product-price .add-to-cart {
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: white;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    width: 50%;
}

.no-similar-products {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    padding-top: 24px;
}